<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/styles/a.css">
	</head>
	<body>
		<h1>velocity</h1>
		<h2>Hello <small>name:$user.name</small></h2>
		<br>
		<h4>Method</h4>
		<p>$method.foo()</p>
		<h4>Basic Syntax</h4>
		<ol>
			<li>
				<h4>if</h4>
				#if($msg)
				$!msg
				#end
			</li>
			<li>
				<h4>foreach</h4>
				list length is $list.size() <br>
				#foreach( $info in $list) 
				${info}&nbsp;
				#end 
			</li>
			<li>
				<h4>macro</h4>
				#commonMacro('a' 'b' 'c')
			</li>
			<li>
				<h4>include</h4>
				#set($a = "test include")
				#include("./vm/include.vm")
			</li>
			<li>
				<h4>parse</h4>
				#set($b = "test parse")
				#parse("./vm/parse.vm")
			</li>
		</ol>
		<script src="/scripts/a.js"></script>
	</body>
</html>